<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" verbose="true">
	<testsuites>
		<testsuite name="Dynamic Online Services Test Suite">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./includes</directory>
		</include>
		<exclude>
			<directory>./includes/interfaces</directory>
			<file>./includes/hooks-documentation.php</file>
		</exclude>
		<report>
			<html outputDirectory="tests/coverage"/>
			<text outputFile="php://stdout" showUncoveredFiles="false"/>
		</report>
	</coverage>
</phpunit>
